<odoo>
    <data>
        <menuitem id="menu_winery_root"
                  name="Winery"
                  sequence="1"/>

            <menuitem id="menu_winery_plot"
                    name="Parcelas"
                    parent="menu_winery_root"
                    sequence="1"
                    action="winery_plot_action"/>
                    
            <menuitem id="menu_winery_parcel"
                    name="Parcel"
                    parent="menu_winery_root"
                    sequence="2"
                    action="action_winery_parcel"/>
    </data>
</odoo>